/* src/App.css */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

.landing-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fcfcfc;
}

html {
  scroll-behavior: smooth;
}